.recipe-list-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;
}

.recipe-list-container > * {
  flex: 1;
}

.layout{
  display : flex;
  justify-content:center;
  flex-wrap: wrap;
}
