.recipe-list-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;
}

.recipe-list-container > * {
  flex: 1;
}

.styling{
  display : flex;
  justify-content:center;
  /* align-items:center; */
  flex-wrap: wrap;

}
